.admintitle {
  text-align: center;
  padding: 80px;
}

.dashboard-items {
  display:flex;
  flex-direction: column;
}

.images-carousel{
  max-height: 550px;
}
.dashboard-button {
  align-self: center;
}

.listing-details-section{
  padding: 2rem;
}

.dashboard-titles {
  align-self: center;
}

.listing-description {
  // white-space: pre-wrap;
  white-space: pre-line;
}

.listing-features{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

.share{
  padding-top: 70px;
}

footer{
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 5px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-sections{
  margin: 30px
}
.footer-contact{
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer-contact-element{
  align-self: center;
  margin-right: 50px;
}